- name: Install libraries
  become: true
  apt:
    name:
      # Compilation
    - git
    - build-essential
    - gfortran
    - openmpi-common
    - openmpi-bin
    - libopenmpi-dev
    - liblapack-dev
    - libblas-dev
    - python3-pip

- name: Install python packages
  become: true
  pip:
    name:
      # needed for 'make clean'
    - configparser

# Will only download once
- name: Get Wannier90 source
  get_url:
    url: "{{ wannier90_url }}"
    dest: "{{ wannier90_code_folder }}/{{  wannier90_src_archive }}"
  register: wannier90_download

- name: Extract Wannier90 source
  unarchive:
    src: "{{ wannier90_download.dest }}"
    dest: "{{ wannier90_code_folder }}"
    remote_src: true
  when: wannier90_download.changed

- name: Configure Wannier90
  copy:
    src: "make.inc"
    dest: "{{ wannier90_topdir }}"

- name: Make Wannier90 executables
  command: "make {{ item.name }}"
  args:
    creates: "{{ wannier90_topdir }}/{{ item.executable }}"
    chdir: "{{ wannier90_topdir }}"
  with_items: "{{ wannier90_executables }}"
  register: wannier90_make

- name: Install Wannier90 executables
  become: true
  copy:
    src: "{{ wannier90_topdir }}/{{ item.executable }}"
    dest: "{{ item.folder }}/"
    remote_src: true
    mode: '0755'
  with_items: "{{ wannier90_executables }}"
  register: wannier90_make

- name: Wannier90 tests
  import_tasks: tests.yml
  when: wannier90_make.changed and run_tests is defined and run_tests

- name: make clean
  command: "make clean"
  args:
    chdir: "{{ wannier90_topdir }}"
  environment:
    PYTHONPATH: "{{ wannier90_python_path }}"
  when: clean is defined and clean

- name: Add release notes (version)
  include_role:
    name: release_notes
  vars:
    section: "Wannier90"
    option: "version"
    value: "{{ wannier90_version }}"
  when: release_notes is defined and release_notes

- name: Add release notes (usage)
  include_role:
    name: release_notes
  vars:
    section: "Wannier90"
    option: "usage"
    value: >-
      Wannier90 is installed in {{ wannier90_prefix }}.
      'wannier90.x', 'postw90.x', ... have been added to the PATH
  when: release_notes is defined and release_notes
